<%= snorby_box("Lookup: #{@lookup.hostname}") do %>

	<% if Setting.whois? %>
	  <%= link_to "Whois Information", '', :class => 'query-data', :"data-content-name" => 'whois' %>|
	<% end %>
	<%= link_to "DNS", '', :class => 'query-data', :"data-content-name" => 'dns' %><br />
	<br />

	<div id='lookup-box-content' class=''>
		
		<% if Setting.whois? %>
			<pre id='whois' class='query-data-content' style='display:none;'><%= @lookup.whois %></pre>
		<% end %>
		
		<pre id='dns' class='query-data-content' ><%= @lookup.dns %></pre>

	</div>

<% end %>