<% if @dst_metrics.empty? %>

	<div id='destination-ips-graph' style='display:none;' class='dashboard-graph no-pie-data'></div>

<% else %>

	<div id='destination-ips-graph' style='display:none;' class='dashboard-graph grid_8 secondary dashboard-ip'>
		<div class='dashboard-header'>
			<span>Top <%= @dst_metrics.length %> Destinations</span>
		</div>
		
		<ul class='box-list'>
			<% @dst_metrics.each do |ip, cnt| %>
		        <li>
		          <div class='click graphs row'>
		          	<div class='click country_flag add_tipsy_html' original-title='<img class="flag" src="/images/flags/<%= Snorby::Geoip.lookup(ip)[:country_code2].downcase %>.png"> <%= Snorby::Geoip.lookup(ip)[:country_name] %>'><%= Snorby::Geoip.lookup(ip)[:country_code2] %></div>
		          	<div class='click ip'>  
			          <%= link_to ip, results_path(:title => ip, "match_all"=>"true", "search"=>{"dip"=>{"column"=>"destination_ip", "operator"=>"is", "value"=> ip } }), :title => "Destination Address #{ip}" %> 
			          <span> <%= cnt %> </span>
		            </div>
		          </div>
		        </li>
			<% end %>
		</ul>

		
	</div>

<% end %>
